@import './variables';
@import '~bootstrap/scss/bootstrap';
@import url('https://use.typekit.net/buf5dou.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-div__icon {
  height: 35px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.arrow-link {
  height: 16px;
}
.navdropdown {
  .dropdown-toggle::after {
    display: none;
  }
}
.border-icon__rounded{
  width: 110px;
  height: 110px;
  transition: box-shadow .3s;
  border: 3px solid #668cb8;
  background-color: #aed4ff;
  border-radius: 50%;
  &:hover{
    box-shadow: 0 0 20px rgba(14, 14, 14, 0.2);
  }
  &.padding-tramites{
    padding: 15px 5px 15px 25px;
  }
  &.padding-turnos{
    padding: 5px 10px 30px 10px;
  }
}
.section-link{
  cursor: pointer;
  height: 180px;
}
.icon-actions{
  width: 65px;
  height: 65px;
}
.font-bold{
  font-weight: bold;
  color:#668cb8;
}
