@import './variables';
@import '~bootstrap/scss/bootstrap';
@import url('https://use.typekit.net/buf5dou.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-div__icon {
  height: 35px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.arrow-link {
  height: 16px;
}
.navdropdown {
  .dropdown-toggle::after {
    display: none;
  }
}
